* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 102);
}

.background-filter {
    filter: brightness(.4) blur(1px);
}

.head-text {
    text-shadow: 2px 2px 3px rgba(24, 24, 24, 0.47);
}

.pie-chart {
    /* width: 87%; */
    display: flex;
    flex-direction: row;
    /* padding: 5rem; */
}

.form {
    font-weight: 400;
    border: 2px solid black;
    border-radius: 0.5rem;
    padding: 2rem;
    background-color: rgb(179, 179, 255);
}

.table {
    border: 2px solid black !important; 
    background-color: rgb(179, 179, 255);
}

.calculate-btn {
    margin-top: -50px;
}

@media screen and (min-width: 1001px) {
}

@media screen and (min-width: 601px) and (max-width: 1000px) {
    .pie-chart {
        flex-direction: column;
    }

    .pie-container {
        width: 80% !important;
        height: 80% !important;
    }

    .bar-container {
        width: 90vw !important;
        height: 80vh !important;
    }
}

@media screen and (max-width: 600px) {
    .pie-chart {
        flex-direction: column;
    }

    .pie-container {
        width: 80% !important;
        height: 80% !important;
    }

    .bar-container {
        width: 90vw !important;
        height: 80vh !important;
    }

}

.hidden {
    display: none !important;
}