.table-2 {
    width: 100% !important;
    overflow: scroll;
    margin-left: auto; 
    margin-right: auto;
    display: block;
}

@media print {
body * { visibility: hidden; }
.div1 * { visibility: visible; }
.div1 { position: absolute; top: 40px; left: 30px; border: 2px solid black; }
}